* {
	margin: 0;
	padding: 0;
}
html {
	background: #eee;
}
body {
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%) no-repeat;
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%) no-repeat;
	font-family: Helvetica, Verdana, serif, Arial;
	color: #000;
}
h4 {
	background: #404040;
	color: #fff;
	display: inline-block;
    padding: 10px 25px 10px 10px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 5px black;
    font-size: 16px;
    font-weight: bold;
}
fieldset {
	border-color: #ccc;
    border-radius: 10px;
    border-width: 1px;
    margin: 10px;
    padding: 5px 20px;
}
legend {
	border: 1px solid #CCCCCC;
    border-radius: 10px;
    font-size: 14px;
    padding: 2px 5px;
}
input {
	color: #000;
}
p {
	margin: 5px 0;
	font-size: 14px;
}
span {
	color: #777;
	font-size: 13px;
	margin: 0 10px;
}
.pane {
	float: left;
	width: 211px;
}
.shortcut {
	margin-left: 30px;
}
.shortcut input {
	width: 25px;
}
.btn {
	background: #404040;
	color: #fff;
	display: inline-block;
	border-radius: 5px;
	padding: 7px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	float: right;
	margin: 10px;
	box-shadow: 0 0 2px black;
}
#notification {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	display: none;
	box-shadow: 0 0 2px black;
	padding: 6px 8px;
    float: left;
    margin: 10px;
}
